<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Posts</h1>
            <ol>
                <% postList.results.forEach(function(post) {%>
                    <li>
                        <figure>
                            <img src="<%= post.imageUrl %>"" width=200 onerror="this.src='https://demofree.sirv.com/nope-not-here.jpg';"/>
                            <figcaption>by <%= post.postedBy.username %> at 
                            <time><%= format(post.createdAt, " yyyy-MM-dd HH:mm:ss") %></time> </figcaption>
                        </figure>

                        <p>
                            <%= post.message %>
                        </p>

                        <div>
                            <p>Liked by
                                <% post.likedBy.slice(0, 4).forEach( (likedUser)=> { %>
                                    <span>
                                        <%= likedUser.name %>,
                                    </span>
                                    <% }); %> and
                                        <span>
                                            <%= post.likedBy.length - 4 %> more people.
                                        </span>
                            </p>
                            <p>Disliked by <%= post.dislikedBy.length %> people.</p>
                        </div>


                    </li>
                    <% }); %>
            </ol>
        </body>
        <%- include('_footer') -%>

</html>